#head {
  width: 800px;
  display: block;
  margin: 0 auto;
}

#container {
  width: 800px;
  margin: 0 auto;

  > .container-fluid {
    padding: 0;
  }
}

#sidebar {
  border-color: 1px solid #ccc;
}